
@page "/notes"
@attribute [StreamRendering]

<PageTitle>Notes</PageTitle>
<h3>Notas</h3>

@if(notes.Count == 0)
{
    <p>Cargando...</p>
}
else
{
    @foreach (var note in notes)
    {
        <h4>@note.Title</h4>
        <p>@note.Content</p>
        <small>@note.CreatedAt</small>
    }
}

